body {
}
div.chart{
    font-family:sans-serif;
    font-size:0.7em;
}
div.bar {
    background-color:DarkRed;
    color:white;
    height:3em;
    line-height:3em;
    padding-right:1em;
    margin-left:22em;
    margin-bottom:2px;
    text-align:right;
}
div.label {
    height:3em;
    line-height:3em;
    padding-right:1em;
    margin-bottom:2px;
    float:left;
    width:20em;
    text-align:right;
}
.axis path{
    fill:none;
    stroke: black;
}
.axis {
    font-size:8pt;
    font-family:sans-serif;
}
.tick {
    fill:none;
    stroke:black;
}
circle{
    stroke:black;
    stroke-width:0.5px;
    fill:RoyalBlue;
    opacity:0.6;
}
.axis {
    font-family: arial;
    font-size:0.6em;
}
path {
    fill:none;
    stroke:black;
    stroke-width:2px;
}
.tick {
    fill:none;
    stroke:black;
}
circle.times_square{
    fill:DeepPink;
    opacity:1.0;
}
circle.grand_central{
    fill:MediumSeaGreen;
    opacity:1.0;
}
body{
    font-family:sans-serif;
}
    
.axis path, line{
    stroke:black;
}
    
.timeseries path{
    stroke-width:3px;
}
    
.timeseries circle{
    stroke: white;
}
    
.timeseries text{
    fill: white;
    stroke: none;
    font-size:12px;
    font-weight: bold;
}
    
.line {
    float:left;
}
    
.line_container{
    width: 150px;
    height: 20px;
}
    
path{
    fill: none;
}
.key{
    float:right;
}
    
.key_line{
    font-size:17px;
    width:100%;
}
    
.key_square{
    height:10px;
    width:10px;
    outline:solid 1px black;
    float:left;
    margin-right:10px;
    margin-top:6px;
    margin-left:10px;
}
    
#timeseries{
    float:left;
}
.Line_A, .Line_C, .Line_E{
    stroke:#2850AD;
    fill:#2850AD;
    background-color:#2850AD;
}
.Line_B, .Line_D, .Line_F, .Line_M {
    stroke:#FF6319;
    fill:#FF6319;
    background-color:#FF6319;
}
.Line_G {
    stroke:#6CBE45;
    fill:#6CBE45;
    background-color:#6CBE45;
}
.Line_Z_J {
    stroke:#996633;
    fill:#996633;
    background-color:#996633;
}
.Line_L {
    stroke:#A7A9AC;
    fill:#A7A9AC;
    background-color:#A7A9AC;
}
.Line_N, .Line_Q, .Line_R {
    stroke:#FCCC0A;
    fill:#FCCC0A;
    background-color:#FCCC0A;
}
.Line_S {
    stroke:#808183;
    fill:#808183;
    background-color:#808183;
}
.Line_1, .Line_2, .Line_3{
    stroke:#EE352E;
    fill:#EE352E;
    background-color:#EE352E;
}
.Line_4, .Line_5, .Line_6{
    stroke:#00933C;
    fill:#00933C;
    background-color:#00933C;
}
.Line_7 {
    stroke:#B933AD;
    fill:#B933AD;
    background-color:#B933AD;
}